# See http://help.github.com/ignore-files/ for more about ignoring files.

# IDEs and editors
.vs/
obj/
bin/
aspnet-core/src/SplitPackage.Web.Host/App_Data/Logs/
aspnet-core/src/SplitPackage.Web.Mvc/App_Data/Logs/
aspnet-core/src/SplitPackage.Migrator/Logs/Logs.txt
aspnet-core/src/SplitPackage.Web.Host/SplitPackageRules/
aspnet-core/test/SplitPackage.Tests/SplitPackageRules/